#splash{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-image: url('../assets/image/purple-bg.jpg');
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.principal-bg{
    height: 100vh;   
    background-image: url('../assets/image/Lyft.jpg');
    background-position: center;
    background-size: cover;
}

.logo{
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/image/logo-white.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.pink-logo{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/image/lyftlife.svg");
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
}

.principal-buttons{
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.waves-effect{
    border: 1px solid white;
    width: 100%;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #aeafaf;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translateX(-50%) translateY(70%);
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }